@charset "UTF-8";
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	background: #FFFFFF;
	margin: 0; /* Es empfiehlt sich, margin (Rand) und padding (Auffüllung) des Body-Elements auf 0 einzustellen, um unterschiedlichen Browser-Standardeinstellungen Rechnung zu tragen. */
	padding: 0;
	text-align: center; /* Hierdurch wird der Container in IE 5*-Browsern zentriert. Dem Text wird dann im #container-Selektor die Standardausrichtung left (links) zugewiesen. */
	color: #000000;
	font-style: italic;
    }
    .oneColFixCtr #container {
    	width: 780px;  /* Mit einer Breite, die 20 Pixel unter der vollen Breite von 800 Pixel liegt, können Sie dem Browser-Chrome Rechnung tragen und gleichzeitig eine horizontale Bildlaufleiste vermeiden. */
    	background: #FFFFFF;
    	margin: 0 auto; /* Durch automatische Ränder (in Verbindung mit einer Breite) wird die Seite zentriert. */
    	text-align: left; /* Hierdurch wird die Einstellung text-align: center im Body-Element überschrieben. */
    }

    .oneColFixCtr #head {
	padding-top: 38px;
	text-align: center;
    }
	
	a, a:link, a:visited {
	color: #002f5b;
	text-decoration: none;
}
	
    .oneColFixCtr #mainContent {
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 10px;
	text-align: right;
    }